appdirs==1.4.3
backports.ssl-match-hostname==3.5.0.1
Django==1.11
get==0.0.0
gunicorn==19.7.1
packaging==16.8
post==0.0.0
psycopg2==2.7.1
public==0.0.0
pyparsing==2.2.0
pytz==2017.2
query-string==0.0.0
request==0.0.0
requests==2.13.0
setupfiles==0.0.0
six==1.10.0
slacker==0.9.42
slacksocket==0.7
websocket-client==0.40.0
